# Joins
## Introduction to Joins
### Join Concepts
* Combine rows from multiple tables by specifying matching creiteria
 * Usually based on primary key - foreign key relationships
 * For example return rows that combine data from the Employee and SalesOrder tables by matching the EmployeeID primary key to the SalesOrder.EmployeeID foreign key.
 
 It would help to think of joins as venn diagrams.
 
###  Join Syntax
 * ANSI SQL-92
  * Tables joined by JOIN operator in FROM Clause
   * Preferred syntax 
   * SELECT ... FROM Table1 JOIN Table2 ON <on_predicate>;
 * ANSI SQL-89
  * Table joined by commas in FROM Clasue
   * Not recommended: Accidental Cartesian products!
   * SELECT ... FROM Table1, Table2 Where <where_predicate>;
 Cartesian products are every single combinatations. We would use the ANSI SQL-92 in most cases but an example of the SQL-89 if is we have a table of employees and a table of open positions. We can join both tables then filter for employee-job combinations where the employee meets the job requirement.
 
### Different Type of Joins

### Inner Joins
* Return only rows where a match is found in both input tables
* Match rows based on the attributes supplied in predicate 
* If join predicate operator is =, also known as equi-join.

Below we have an example, by default sql server and azure JOIN means INNER JOIN.  

### Outer Joins 
* Return all rows from one table and any matching rows from second table.
* One table's are "preserved"
 * Designated with LEFT, RIGHT, FULL Keyword
 * All rows from preserved table output to result set
* Matches from other table retrieved
* Additional rows added to results from non-matched rows
 * NULLs added in places where attricutes do not match.