# 1 Getting started with Transact-SQL
## 1.1 Intro to T-SQL
### What is SQL?
* SQL
 * IBM in the 1970s
 * Adopted as a standard by ANSI and ISO standards bodies
 * Widely used in industry

SQL stands for structured query languages and was developed by IBM as a way of interrogating databases where we store information that our applications use. It has since adopted as a standard and is widely used across multiple different database platforms.

* Microsoft's implementation is Transact-SQL
 * Referred to as T-SQL
 * Query language for SQL Server and Azure SQL Database
 
 Each vendor tends to add its own idiosyncrasies to the language or  little extensions. For Microsoft this is called Transact-SQL or sometimes T-SQL. It it largely similar to other SQL database but there are a few microsoft specific twist to it. It is found on microsoft database products that include SQL server which is the enterprise scale database server that you can install on your own hardware or run in a virtual machine in Azure SQL Database. The other Microsoft database product would be Azure SQL Database.
 
* SQL is declarative, not procedural
 * Describe what you want, don't specify steps
If you a programer, you've probably written some procedural programming. So using C# or Python you would write a procedure where you do one thing, then do the next thing and maybe loop around to do a number of things a certain amount of times, but you're specifying the procedure. SQL is different from that, we work with sets of datas. If you're familiar with set theory which is a branch of mathematics,  you're use to the idea of collections of objects and you typically draw venn diagrams to categorize different sets together. SQL is a language that builds on that branch of mathematics. It is very much about dealing with multiple instances of objects that are arranged into collections or sets. When using SQL what you typically do when working with SQL is describe what it is you want when you write a query rather than how you would get there.


### Relational Databases
* Relational Databases
 * Entities are represented as relations (tables), in which their attributes are represented as domains (columns)
 * Most relational databases are normalized with relationships defined between tables through primary and foreign keys.
 
With relational databases you've typically got multiple tables and being relational, they relate to one another. Each table represents a type of thing and what we call an entity might be a person, but it can also be something we cannot see such as an order. When we see someone talk about relationsion having domains, really what they are referring to is columns. So a product entity would be represented as a table and the table may have columns that represent different attributes of a product such as it's name, it's color and its price.

While in this course we won't be getting into how to normalize data in our table, we will talk about the idea that we have multiple tables and what we try to do in each table is have a unique identifier called its primary key. The primary key allows us to uniquely identify a row in the table, an instance of the entity. An example would be being able to identify a product by its product id or a sales order by its sales order number. Now we may relate the entity to each other. When you are recording your sales in excel you may need to write down customerID, name OrderID and ProductID every time you have a new order. The point of a database to to avoid that duplication. In the figure we have below we have 4 different tables and  we can see salesorderdetail has two foreign keys it is referring too from the Products  and SalesOrderHeader tables. So would have an order table and a product table and we can look up our product key to get the detail on the product.

![](img\tables.PNG)

### Schemas and Object Names
* Schemas and Object Names
 * Schemas are namespaces for database objects
 * Fully-qualified names:  <code>[Server_name.][database_name.][schema_name.]object_name</code>
 
The question may be if we have to write this down everytime we are referring to a table? With SQL server you can but with Azure SQL Database, there's really no point because Azure you can only work in one database at a time. So when working in Azure we usually just take it down to just the schema name and object name.

In the example below we have two schemas called Sales and Production and in other schema we have a table called order. If would be confusing if we did not specify which object we would like to access. It is always good practice to be explicit.

![](img\schemas.PNG)

![](img\types.PNG)


### Key Points
* Transact-SQL is the language used to query data in Microsoft SQL Server and Azure SQL Database.
* Data is stored in tables, which may be related to one another through common key fields.
* Objects in a database are organized into schemas.
* The fully qualified naming syntax for an object is, server_name.database_name.schema_name.object_name, but in most cases you can abbreviate this to schema_name.object_name.

## 1.2 The Select Statement 
### What is the Select Statement
The core statement we are use to get data from the database is the SELECT statement. Below we have an example of a query that allows us to get data from our table. 
![](img\select.PNG)

The SELECT statement is use to specify what columns we want back or what column we would like to see in the results. That may be all the columns in the tables, or some subset of them. Our example will return a table with the columns of OrderDate and the total count of OrderID. 

The FROM clause is used to define which table or tables will be the source for our data. Our query will take data from the Sales.SalesOrder table.

We may want to filter out our data and this is when we use the Where statement. In  our query we will only see order dates that have a shipped status. 

In the case where we may want to aggregate data in a way that will allow us to get the totals for each month we can used to group by statement. In our query we are grouping by OrderDate.

If we want to filter from our groups we will want to use the having statement. In our example we only want OrderDates where the count of OrderID is greater than 1.

Finally we would like to sort our results we use Order By to select what row to order our results by and if we would like descending or ascending order.

### Basic Select Query Example

* All Columns
 * SELECT * FROM Production.Product;
* Specific Columns
 * SELECT Name, ListPrice From Production.Product;
* Expressions and Aliases
 * SELECT Name as Product, ListPrice * 1.1 AS SalePrice From Production.Product

The select all query you may be one you run often to see what is in the table but it is also an expensive operation to run in azure as it will send all of a data every time. Specifying columns would be the solution

### Key Points
* Use the SELECT statement to retrieve a rowset of data from tables and views in a database.
* SELECT statements are written with the following clauses: SELECT, FROM, WHERE, GROUP BY, HAVING, ORDER BY. However, the query engine processes the clauses in this order: FROM, WHERE, GROUP BY, HAVING, SELECT, ORDER BY.
* In the SELECT clause, you can use * to return all columns, but generally you should specify explicit columns.
* You can specify expressions in the SELECT clause to return the results of calculations.
* You can use the AS keyword to specify aliases for columns in the rowset returned by the SELECT statement.

## 1.3 Working with Data Types
### Transact-SQL Data Types
![](img\datatypes.PNG)
The first thing you may notice that there is tinyint, smallint, int and bigint. It seems like there is a lot of data types for integers but the reasoning is that the values will be stored in the computer where everything is store in bits. If we know that the values of our integer will only take on small number we are about to save space by using a tinyint or smallint compared to a int or a bigint. 

An important note is that it is important to know if a datatype is a numeric, a string or a data as it will determine how we may combine the data.

For Character we have a few we want to go over really quickly. Varchar is a variable character where we set its max character limit, nchar mean that every character will take two bits ment for when we use unicode over ASCII. 

There is implicit conversion between conversion types in SQL. An example would be adding a int to a float, but in the cast where we have a char that is a number and we want to add that value to different numeric we can do that by explicit conversion.

### Conversions
* Implicit Conversion
 * Compatible data types can be automatically converted
 
* Explicit Conversion
 * Requires an explicit conversion function
  * CAST/TRY_CAST
  * CONVERT/TRY_CONVERT
  * PARSE/TRY_PARSE
  * STR

With dates we would like to use explicit conversion as 05-04-2005 could mean may 4th 2005 or 5th of may 2005, to do that we would want to convert and select the format we wanted to convert to. 

Let's look at some examples of what it may look like.


``` CAST(ProductID AS varchar(5)) + : + Name AS ProductName```

``` CONVERT(varchar(5), ProductID) + : + Name AS ProductName```

### Key Points
* Transact-SQL supports a wide range of data types, which can be broadly categorized as exact numeric, approximate numeric, character, date/time, binary, and other (which includes specialized data types for handling data such as XML and spatial data).
* Some data types are compatible, and values can be implicitly converted between them. Conversion between other data types requires the use of explicit conversion functions.

## 1.4 Working with NULLs
### NULL Values
NULL represents a missing or unknown value
ANSI behaviour for NULL values:
 * The result of any expression containing a NULL value is NULL
  * 2 + NUll = NULL
  * 'MyString' + NULL = NULL
 * Equality comparisons always return false for NULL values
  * NULL = NULL returns false
  * NULL IS NULL returns true
### NULL Functions
* ISNULL(column/variable, value)
 * Returns value if the column or variable is NULL  
* NULLIF(column/variable, value)
 * Return NULL if the column or variable is value
* COALESCE(column/variable1, column/variable2,...)
 * Returns the value fo the first non-NULL column or variable in the list
### Key Points
* NULL is used to indicate an unknown or missing value. NULL is not equivalent to zero or an empty string.
* Arithmetic or string concatenation operations involving one or more NULL operands return NULL. For example, 12 + NULL = NULL.
* If you need to compare a value to NULL, use the IS operator instead of the = operator. 
* The ISNULL function returns a specified alternative value for NULL columns and variables.
* The NULLIF function returns NULL when a column or variable contains a specified value.
* The COALESCE function returns the first non-NULL value in a specified list of columns or variables).